# Node modules
node_modules/

# Environment variables
.env

# Next.js build output
.next/
out/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Drizzle artifacts
drizzle/